DirectoryIndex index.php
<Files ~ "^\.(.*)$">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>
<IfModule mod_rewrite.c>
    RewriteEngine on

    # line for check
    RewriteRule checkmodrewriteitdc.php index.php?mode=mr [NC]

    # Emulation of ErrorDocument 404
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php?mode=error [L]

</IfModule>
